$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: lightblue;
}

#get-all-books-container {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
}

#sign-up, #sign-in,
#change-password, #sign-out, #show-books-button,
#create-book, #update-book, #delete-book, #get-books
 {
  display: none;
}
